<div class="jumbotron">
  <h1 class="display-4"><%= t('welcome')%></h1>
  <p class="lead"><%=t('lead')%></p>
  <hr class="my-4">
  <p><%=t('options')%></p>
  <%=link_to t('new coin'), new_coin_path, class:"btn btn-primary btn-lg", role:"button" %>
      <%=link_to t('coins'), root_path, class:"btn btn-primary btn-lg", role:"button"%>
    <%=link_to  t('mining_type'), mining_types_path,class:"btn btn-primary btn-lg", role:"button"%>
</div>


<p>A linguá utilizada é o:<strong><%=t('actual_locale')%></strong></p> 
<p><strong>Data:</strong> <%=l(Date.today)%></p>

<%=I18n.t('hello')%>

<strong>
    <p><%=app_name%></p>
</strong>

<p>A soma é: <%=1+1%></p>

<p>Seu nome de trás para a frente é: <%= "Italo".reverse%></p>

<%a= "Primeira variável"%>
<p>Imprimindo variável a: <strong><%= a%></strong></p>

<p>Data de hoje <%=Date.today%></p>


 
<p>Você esta em ambiente de<strong> <%= ambiente_desenvolvimento%></strong></p>

<p>Eu sou uma variável de instância/sessão <strong><%= @meu_nome%></strong></p>

<p>Curso de<strong> <%=@meu_curso%></strong></p>

